.section-tareas{
    display: flex;
    justify-content: space-between;
}

.box-tarea{
    border: 0.8px solid;
    border-radius: 10px;
    padding: 20px 40px;
}

.box-tarea span{
    display: block;
    font-weight: 300;
    color: #fff;
    text-shadow: 1px 1px black;
}