<div class="header" *ngIf="showHeader">
    <div class="container box-header">
        <img class="logo" src="assets/img/logo.png" />
        <div>
            Javier Bazalar 
            <img src="assets/icons/icon-user.png" />
        </div>
    </div>
</div>
<div class="sidebar"  *ngIf="showHeader">
    <div>
        <a routerLink="/nuevaSolicitud">
            <img src="assets/icons/icon-board-x.png"/>
        </a>
        <a routerLink="/misSolicitudes">
            <img src="assets/icons/icon-board-x.png"/>
        </a>
        <a routerLink="/lista">
            <img src="assets/icons/icon-board-x.png"/>
        </a>
        <a routerLink="/verSolicitud">
            <img src="assets/icons/icon-board-x.png"/>
        </a>
        <a routerLink="/tablero">
            <img src="assets/icons/icon-board-x.png"/>
        </a>
    </div>
</div>

