.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-header div img{
    width: 30px;
}



.logo{
    width: 164px;
}

.header{
    border-bottom: 1px solid #d0d0d0;
    padding: 12px;
}

.sidebar{
    width: 60px;
    /* height: 856px; */
    position: fixed;
    background: #d5ebeb;
    z-index: 9999;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
}

.sidebar>div{
    width: 100%;
}

.sidebar div a{
    width:100%;
    padding: 10px;
}

.sidebar div a img{
    width: 40px;
    margin-left: 2px;
    margin-bottom: 1px;
    margin-bottom: -1px;
    margin-top: 11px;
    
}
.div-menu{

    height: 75px;
    background-color:#00768e;
  
}

.sidebar i{

    margin-left: 13px;
    margin-top: 20px;
    font-size: 36px;
    color: #ffffff;

}

h4{
    font-weight: 400;
    font-size: 1.3em;
    letter-spacing: 0.5px;
}

.link-menu{
    margin-left: 3px;
    font-size: 11px;
}











   