<div class="header" *ngIf="showHeader">
    <div class="container box-header">
        <img class="logo" src="assets/img/pelambres-logo-b.jpg" />
        <div style="position:relative;">
            {{usuario.nombre}}-{{usuario.perfil.sigla}}
            <img src="assets/icons/icon-user.png" />
            <span class="notificaciones">
                <a [routerLink]="['/notificaciones']">{{totalNotificaciones}}</a>
            </span>
        </div>
        
    </div>
</div>

<div class="sidebar" [ngClass]="(mostrarMenu) ? 'sidebar sidebar-open': 'sidebar  '" *ngIf="showHeader">
    
    
    <div class="div-menu" >
        <i class="fa-solid fa-bars " (click)="mostrarMenu = !mostrarMenu"></i>
    </div>
        

    <div style="background: #eff7f9;height: 800px;" *ngIf="mostrarMenu">
        <a (mouseover)='(item.submenu.length>0)? showSubmenu = true:showSubmenu = false'  [ngClass]="(item.submenu.length>0) ? 'linkMenu wsubmenu': 'linkMenu '"  class="" *ngFor="let item of itemMenu"   (click)="mostrarMenu = !mostrarMenu" routerLink="{{item.url}}">
            <img src="assets/icons/{{ item.icon }}"/>
            <small class="link-menu">{{ item.titulo }}</small>
            <div class="submenu" *ngIf="showSubmenu">
                
                <a  *ngFor="let subitem of item.submenu" (mouseover) = 'showSubmenu = true'  (click)="mostrarMenu = !mostrarMenu" routerLink="{{subitem.url}}" >
                    <img src="assets/icons/{{ subitem.icon }}"/>
                    {{ subitem.titulo }}
                </a>
            </div>

        </a>
        <a (click)="logout()" (mouseover)='showSubmenu = false' >
            <img src="assets/icons/icon-inbox.png"/>
            <small class="link-menu">SALIR</small>
        </a>
    </div>
</div>

