<div class="header" *ngIf="showHeader">
    <div class="container box-header">
        <img class="logo" src="assets/img/logo.png" />
        <div style="position:relative;">
            {{usuario.nombre}}-{{usuario.perfil.sigla}}
            <img src="assets/icons/icon-user.png" />
            <span class="notificaciones">
                <a [routerLink]="['/notificaciones']">{{totalNotificaciones}}</a>
            </span>
        </div>
        
    </div>
</div>

<div class="sidebar" [ngClass]="(mostrarMenu) ? 'sidebar sidebar-open': 'sidebar  '" *ngIf="showHeader">
    
    
    <div class="div-menu" >
        <i class="fa-solid fa-bars " (click)="mostrarMenu = !mostrarMenu"></i>
    </div>
        

    <div style="background: #f9f9f9;height: 800px;" *ngIf="mostrarMenu">
        <a  *ngFor="let item of itemMenu"   (click)="mostrarMenu = !mostrarMenu" routerLink="{{item.url}}">
            <img src="assets/icons/icon-board-x.png"/>
            <small class="link-menu">{{ item.titulo }}</small>
        </a>
        <a (click)="logout()" >
            <img src="assets/icons/icon-board-x.png"/>
            <small class="link-menu">Salir</small>
        </a>
    </div>
</div>

