.box-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-header div img{
    width: 30px;
}

.logo{
    width: 164px;
}

.header{
    border-bottom: 1px solid #d0d0d0;
    padding: 12px;
}

.sidebar{
    width: 60px;
    height: 856px;
    position: fixed;
    background: #d5ebeb;
    z-index: 9999;
    top: 0px;
    display: flex;
    flex-wrap: wrap;
}

.sidebar>div{
    width: 100%;
}

   