<div class="container m-5">
    <div class="row">
        <div class="col-6">
            Tarea: <b>Memoria Reajuste Historico</b>
        </div>
        <div class="col-3">
            Frecuencia: <b>Mensual</b>
        </div>
        <div class="col-3">
            Solicitud ID: <b>MMR-001</b>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5">
            <div class="mb-5 mt-3">
                <h4>SOLICITUD DE REQUERIMIENTO</h4>
            </div>

            <div class="pl-3">
                <div class="col-3 input-group mb-1">
                    <p style="width: 30%;">Gerencia</p>
                    <p style="width: 70%;">Mantencion</p>
                </div>
                <div class="col-3 input-group mb-1 ">
                    <p style="width: 30%;" >ADC</p>
                    <p style="width: 70%;" >LUIS ANDRES LAZO SANZANA</p>
                </div>
                <div class="col-3 input-group mb-1 ">
                    <p style="width: 30%;">Contrato</p>
                    <p style="width: 70%;">454000807- KOMATSU</p>
                </div>
                <div class="col-3 input-group mb-1 ">
                    <p style="width: 30%;" >Fecha Solicitud</p>
                    <p  style="width: 70%;">02/08/2022 13:20 Hrs</p>
                </div>
            </div>
            <div class="form-check mt-3 pl-3">
                <h5>Lista Documentos Requeridos</h5>
                <hr>

                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value=""
                        id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Dcto para la Tarea Uno /Word/Observacion
                    </label>
                </div>
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value=""
                        id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Dcto para la Tarea Uno /Excel/Observacion
                    </label>
                </div>
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value=""
                        id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Dcto para la Tarea Uno /Pdf/Observacion
                    </label>
                </div>
            </div>

            <div class="my-4 mt-5 ">
                <h4 class="mb-3">GESTION SOLICITUD</h4>
                <div class="mt-3 pl-3">
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Lista de chequeo de tarea para realizar la tarea
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Lista de chequeo de tarea para realizar la tarea
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Lista de chequeo de tarea para realizar la tarea
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Lista de chequeo de tarea para realizar la tarea
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Lista de chequeo de tarea para realizar la tarea
                        </label>
                    </div>
                </div>
            </div>

            <div class="my-4 mt-5">
                <h4 class="mb-3">RESULTADO SOLICITUD</h4>
                <div class="col-3 input-group mb-3 pl-3">
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Estado</label>
                    <input  class="form-control input-color" type="text"  value="EN ESPERA" style=>
                </div>
                <div class="form-check mt-5 pl-3">
                    <h5>Lista Documentos Requeridos</h5>
                    <hr>
    
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Dcto para la Tarea Uno /Word/Observacion
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Dcto para la Tarea Uno /Excel/Observacion
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Dcto para la Tarea Uno /Pdf/Observacion
                        </label>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="col-7 mt-proceso box-proceso" >

            <div class="col-7 input-group mb-3 mx-5">
                <label for="basic-url" class="form-label" style="margin-top: 8px;">Estado</label>
                <input  class="form-control input-color-proceso " type="text"  value="EN PROCESO"  >
            </div>
            <div class="col-7 input-group mb-3 mx-5 input-dp" >
                <label for="basic-url" class="form-label" style="margin-top: 8px;">Fecha Inicio</label>
                <input  class="form-control"  type="date"   >
            </div>
            <div class="col-7 input-group mb-3 mx-5" style="width: 80%;">
                <label for="basic-url" class="form-label" style="margin-top: 8px; ">GST</label>
                <input  class="form-control" type="text"   value="Alessandro Cosio / Francisco Gutierrez">
            </div>
            <div class="col-3 input-group mb-2 mx-5 input-dp">
                <label for="basic-url" class="form-label" style="margin-top: 8px;">Fecha Entrega</label>
                <input  class="form-control" type="date"style="width: 40%;"  value="EN PROCESO">
            </div>

            <div class="col-7 input-group mb-3 mx-5 tiempo-estimado">
                <label for="basic-url" class="form-label" style="margin-top: 8px;">
                    Tiempo estimado :
                </label> 
                <span>7 Días</span>
            </div>
            <div class="col-7 input-group mb-4  mx-5 ">
                <label for="basic-url" class="form-label" style="margin-top: 8px;">Mensaje/Obs</label>
                <textarea class="form-control text-obs" name="" id="" cols="10" rows="4" placeholder="Agradecemos tu ayuda para la revision y validacion de montos.Importante:Tenemos mantención mayor de planta y se requiere asistencia del servicio" style="width: 70%;" ></textarea>

            </div>

            <div class="col-7 box-bitacora" style="width: 70%;">
                <h5 class="mx-5">Bitacora</h5>
                <hr class="linea-bitacora">
                <textarea class=" form-control"  name="" id="" cols="20" rows="22" style="width: 100%;" class="tamaño-estable" placeholder="02/ 08 Solicitud ingresada // Inicio solicitud en Proceso // 03/08 Lista de verificacion actualizada// 03/08 Prioridad establecida a ALTA "></textarea>

            </div>
        </div>

            

                

        
        
        
        
        
        
        

    </div>
    <hr>

    <div class="row my-3">
        <h4>ITERACCIONES</h4>

        <div class="col-7 input-group mb-3 mx-5  my-5 align-items-center ">
            <label for="basic-url" class="form-label" style="margin-right: 25px;margin-top: 8px;">Mensaje/Obs</label>
            <textarea class=" form-control"  name="" id="" cols="7" rows="3" class="tamaño-estable" placeholder="Se adjunta el resultado de la revísíon de Kpi solicitados.Estamos a atento a sus observaciones." style="width: 70%;" ></textarea>
        </div>

        <div class="col-7 input-group mb-3 mx-5  align-items-center">
            <label for="basic-url" class="form-label" style="margin-right: 16px;margin-top: 8px;">Feedback ADC</label>
            <textarea class=" form-control" name="" id="" cols="7" rows="3" class="tamaño-estable" style="width: 70%;" ></textarea>
        </div>
       
        <div class="d-grid gap-2 d-md-flex justify-content-md-end my-2">
            <button class="btn btn-primary me-md-2 px-5 btn-interactuar " type="button" disabled>Interactuar</button>
        </div>


    </div>
    <hr>

    <div class="row my-4">

        <h4>HISTORIAL RESULTADO SOLICITUD</h4>
        
        <table class="table form-control" >


            <thead class="bg-#F53621">
                <tr>
                    <th scope="col">N°<i class="titulo-i fa-solid fa-angle-down"></i> </th>
                    <th scope="col">Resultado<i class="titulo-i  fa-solid fa-angle-down"></i></th>
                    <th scope="col">Fecha<i class="titulo-i  fa-solid fa-angle-down"></i></th>
                    <th scope="col">Enviado por</th>
                    <th scope="col">Mensaje<i class="titulo-i  fa-solid fa-angle-down"></i></th>
                    <th scope="col">Fecha<i class="titulo-i  fa-solid fa-angle-down"></i></th>
                    <th scope="col">Feedback<i class=" titulo-i  fa-solid fa-angle-down"></i></th>
                    <th scope="col">...</th>
                </tr>
    
            </thead>
    
    
    
    
    
    
            <tbody>
    
                <tr>
                    <td>#MM-001 </td>
                    <td>
                        <div class="items-proceso"> 
                            <i class="fa-solid fa-circle "></i>
                            <p>En Espera</p>
                        </div>
                    </td>
                    <td>
                        02 Ago 2022<br>
                        Enviado
                    </td>
                        ACosio<br>
                        FGutierrez
                    
                        
                    
                    
                    <td>
                        
                        
    
                    </td>
                    <td>
                        <p>MES</p>
                        <p>1 vez</p>
                    </td>
                    
                    
                    <td>
                        <a href=""><i>o</i></a>
                        <p>En Espera</p>
                    </td>
                    <td>
                        <a href="#" class="btn btn-primary btn-lg active"
                            role="button" aria-pressed="true">Ver</a>
                    </td>
    
                </tr>
    
              
    
            </tbody>
    
        </table>



    </div>

    




    


























</div>
