<div class="container m-5">
    <div class="row">
        <div class="col-6">
            Tarea: <b>Memoria Reajuste Historico</b>
        </div>
        <div class="col-3">
            Frecuencia: <b>Mensual</b>
        </div>
        <div class="col-3">
            Solicitud ID: <b>MMR-001</b>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-5">
            <div class="mb-5 mt-3">
                <h4>SOLICITUD DE REQUERIMIENTO</h4>
            </div>

            <div class="pl-3">
                <div class="col-3 input-group mb-1">
                    <p style="width: 30%;">Gerencia</p>
                    <p style="width: 70%;">Mantencion</p>
                </div>
                <div class="col-3 input-group mb-1 ">
                    <p style="width: 30%;" >ADC</p>
                    <p style="width: 70%;" >LUIS ANDRES LAZO SANZANA</p>
                </div>
                <div class="col-3 input-group mb-1 ">
                    <p style="width: 30%;">Contrato</p>
                    <p style="width: 70%;">454000807- KOMATSU</p>
                </div>
                <div class="col-3 input-group mb-1 ">
                    <p style="width: 30%;" >Fecha Solicitud</p>
                    <p  style="width: 70%;">02/08/2022 13:20 Hrs</p>
                </div>
            </div>
            <div class="form-check mt-3 pl-3">
                <h5>Lista Documentos Requeridos</h5>
                <hr>

                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value=""
                        id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Dcto para la Tarea Uno /Word/Observacion
                    </label>
                </div>
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value=""
                        id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Dcto para la Tarea Uno /Excel/Observacion
                    </label>
                </div>
                <div class="form-check ">
                    <input class="form-check-input" type="checkbox" value=""
                        id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Dcto para la Tarea Uno /Pdf/Observacion
                    </label>
                </div>
            </div>

            <div class="my-4 mt-5 ">
                <h4 class="mb-3">GESTION SOLICITUD</h4>
                <div class="mt-3 pl-3">
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Lista de chequeo de tarea para realizar la tarea
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Lista de chequeo de tarea para realizar la tarea
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Lista de chequeo de tarea para realizar la tarea
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Lista de chequeo de tarea para realizar la tarea
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Lista de chequeo de tarea para realizar la tarea
                        </label>
                    </div>
                </div>
            </div>

            <div class="my-4 mt-5">
                <h4 class="mb-3">RESULTADO SOLICITUD</h4>
                <div class="col-3 input-group mb-3 pl-3">
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Estado</label>
                    <input  class="form-control input-color" type="text"  value="EN ESPERA" style=>
                </div>
                <div class="form-check mt-5 pl-3">
                    <h5>Lista Documentos Requeridos</h5>
                    <hr>
    
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Dcto para la Tarea Uno /Word/Observacion
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Dcto para la Tarea Uno /Excel/Observacion
                        </label>
                    </div>
                    <div class="form-check ">
                        <input class="form-check-input" type="checkbox" value=""
                            id="flexCheckChecked" checked>
                        <label class="form-check-label" for="flexCheckChecked">
                            Dcto para la Tarea Uno /Pdf/Observacion
                        </label>
                    </div>
                </div>

            </div>
        </div>
        
        <div class="col-7" >

            <div class="col-7 input-group mb-3 mx-5">
                <label for="basic-url" class="form-label" style="margin-right: 58px;margin-top: 8px;">Estado</label>
                <input  class="form-input  input-color-proceso " type="text"  value="EN PROCESO"  >
            </div>
            <div class="col-7 input-group mb-3 mx-5">
                <label for="basic-url" class="form-label" style="margin-right: 25px;margin-top: 8px;">Fecha Inicio</label>
                <input  class="form-input" type="date" style="width: 40%;"  >
            </div>
            <div class="col-7 input-group mb-3 mx-5">
                <label for="basic-url" class="form-label" style="margin-right: 81px;margin-top: 8px; ">GST</label>
                <input  class="form-input " type="text" style="width: 50%;"  value="Alessandro Cosio / Francisco Gutierrez">
            </div>
            <div class="col-3 input-group mb-3 mx-5 ">
                <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Fecha Entrega</label>
                <input  class="form-input" type="date"style="width: 40%;"  value="EN PROCESO">
            </div>
            <div class="col-3 input-group mb-3 mx-5 ">
                <p >Tiempo estimado : 7 Días</p>
            </div>
            <div class="col-7 input-group mb-3 mx-5 ">
                <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Mensaje/Obs</label>
                <textarea name="" id="" cols="10" rows="4" placeholder="Agradecemos tu ayuda para la revision y validacion de montos.Importante:Tenemos mantención mayor de planta y se requiere asistencia del servicio" style="width: 70%;" ></textarea>
            </div>

            <h4 class="mx-5">Bitacora</h4>
            <hr class="linea-bitacora">
            <textarea class="mx-5" name="" id="" cols="20" rows="22" style="width: 85%;" class="tamaño-estable" placeholder="02/ 08 Solicitud ingresada // Inicio solicitud en Proceso // 03/08 Lista de verificacion actualizada// 03/08 Prioridad establecida a ALTA "></textarea>


                

        
        
        
        
        
        
        
        </div>

    </div>
    <hr>

    <div class="row my-3">
        <h4>ITERACCIONES</h4>

        <div class="col-7 input-group mb-3 mx-5  my-5">
            <label for="basic-url" class="form-label" style="margin-right: 25px;margin-top: 8px;">Mensaje/Obs</label>
            <textarea name="" id="" cols="10" rows="4" class="tamaño-estable" placeholder="Se adjunta el resultado de la revísíon de Kpi solicitados.Estamos a atento a sus observaciones." style="width: 70%;" ></textarea>
        </div>

        <div class="col-7 input-group mb-3 mx-5  ">
            <label for="basic-url" class="form-label" style="margin-right: 16px;margin-top: 8px;">Feedback ADC</label>
            <textarea name="" id="" cols="10" rows="4" class="tamaño-estable" style="width: 70%;" ></textarea>
        </div>
       
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-primary me-md-2 px-5" type="button">Interactuar</button>
        </div>


    </div>
    <hr>

    <table class="table table-light table-striped border border-1" >


        <thead class="bg-#F53621">
            <tr>
                <th scope="col">Sol.N°</th>
                <th scope="col">Situacion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col">Frecuencia</th>
                <th scope="col">Asignada</th>
                <th scope="col">Fecha</th>
                <th scope="col">Resultado</th>
                <th scope="col">...</th>
            </tr>

        </thead>






        <tbody>

            <tr>
                <td>#MM-001</td>
                <td>Enviada</td>
                <td>
                    <p>455222112 Explor-K</p>
                    <p>Apertura Libro</p>
                </td>
                <td>
                    <p>02 Ago 2022</p>
                    <p>Solicitado</p>
                </td>
                <td>
                    <a href=""><i class="fa-solid fa-o"></i></a>
                    <p>En Proceso</p>

                </td>
                <td>
                    <p>MES</p>
                    <p>1 vez</p>
                </td>
                <td>
                    <p>Acosio FGutierrez</p>
                </td>
                <td>
                    <p>03 Ago 2022</p>
                    <p>Iniciado</p>
                </td>
                <td>
                    <a href=""><i>o</i></a>
                    <p>En Espera</p>
                </td>
                <td>
                    <a href="#" class="btn btn-primary btn-lg active"
                        role="button" aria-pressed="true">Ver</a>
                </td>

            </tr>

          

        </tbody>

    </table>


























</div>
