.box-info-solicitud{
    display: flex;
    width: 50%;
}

.box-info-solicitud p{
    width: 50%;
}

.resultado-input{
    background: orange;
}


.input-color{
    background: #ff8352;
    border: none;
    border-radius: 0;
    color:#fff;
    font-weight: 200;
    letter-spacing: 0.5px;
    max-width: 59%;
}

.input-color-proceso{
    background: #d7eb5a;
    border: none;
    border-radius: 0;
    color:black;
    font-weight: 200;
    letter-spacing: 0.5px;
    max-width: 38%;
}

.titulo-bitacora{
    margin-left: 98px;
}

.linea-bitacora{
    margin-left: 40px;
}

.tamaño-estable{
    resize: none;
    margin-left: 40px;
}

.pl-3{
    padding-left: 40px;
}

h4{
    font-weight: 400;
    font-size: 1.3em;
    letter-spacing: 0.5px;
}


.mt-proceso{
    margin-top: 82px
}

.input-dp{
    width: 48%;
}
   

