
<div class="container">
    <div class="row my-5 justify-content-md-end">
        <div class="col-10">
            <h2>MIS SOLICITUDES</h2>
        </div>

        <div class="col-2">
            <button type="button" class="btn btn-sml  btn-primary px-5" disabled>Buscar</button>
        </div>
    </div>


    <table class="table table-light table-striped border border-1">


        <thead class="bg-#F53621">
            <tr>
                <th scope="col">Sol.N°</th>
                <th scope="col">Situacion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col">Frecuencia</th>
                <th scope="col">Asignada</th>
                <th scope="col">Fecha</th>
                <th scope="col">Resultado</th>
                <th scope="col-3">......</th>
            </tr>

        </thead>






        <tbody>
            <tr *ngFor="let solicitud of listaSolicitudes">
                <td>#MM-001</td>
                <td>Enviada</td>
                <td>
                    <p>{{solicitud.contrato.contradoid}} {{solicitud.contrato.contrato}}</p>
                    <p>{{solicitud.tarea.nombre_tarea}}</p>
                </td>
                <td>
                    <p>{{solicitud.fecha_solicitud}}</p>
                    <p>Solicitado</p>
                </td>
                <td>
                    <a href=""><i class="fa-solid fa-o"></i></a>
                    <p>{{solicitud.estado_solicitud.nombre_estado}}</p>

                </td>
                <td>
                    <p>{{solicitud.tarea.frecuencia}}</p>
                    <p>1 vez</p>
                </td>
                <td>
                    <p>{{solicitud.gst.nombre}}</p>
                </td>
                <td>
                    <p>{{solicitud.fecha_inicio}}</p>
                    <p>Iniciado</p>
                </td>
                <td>
                    <a href=""><i class="fa-solid fa-o "></i></a>
                    <p>En Espera</p>
                </td>
                <td>
                    <a routerLink="/solicitud/{{solicitud._id}}"><button type="submit" class="btn btn-primary px-5" >Ver</button></a>
                </td>

            </tr>
            <!--<tr>
                <td>#MM-001</td>
                <td>Enviada</td>
                <td>
                    <p>455222112 Explor-K</p>
                    <p>Apertura Libro</p>
                </td>
                <td>
                    <p>02 Ago 2022</p>
                    <p>Solicitado</p>
                </td>
                <td>
                    <a href=""><i class="fa-solid fa-o"></i></a>
                    <p>En Proceso</p>

                </td>
                <td>
                    <p>MES</p>
                    <p>1 vez</p>
                </td>
                <td>
                    <p>Acosio FGutierrez</p>
                </td>
                <td>
                    <p>03 Ago 2022</p>
                    <p>Iniciado</p>
                </td>
                <td>
                    <a href=""><i class="fa-solid fa-o"></i></a>
                    <p>En Espera</p>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary px-5" disabled>Ver</button>
                </td>

            </tr>
            <tr>
                <td>#MM-001</td>
                <td>Enviada</td>
                <td>
                    <p>455222112 Explor-K</p>
                    <p>Apertura Libro</p>
                </td>
                <td>
                    <p>02 Ago 2022</p>
                    <p>Solicitado</p>
                </td>
                <td>
                    <a href=""><i class="fa-solid fa-o"></i></a>
                    <p>En Proceso</p>

                </td>
                <td>
                    <p>MES</p>
                    <p>1 vez</p>
                </td>
                <td>
                    <p>Acosio FGutierrez</p>
                </td>
                <td>
                    <p>03 Ago 2022</p>
                    <p>Iniciado</p>
                </td>
                <td>
                    <a href=""><i class="fa-solid fa-o"></i></a>
                    <p>En Espera</p>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary px-5" disabled>Ver</button>
                </td>

            </tr>-->

            
           

           
        </tbody>

    </table>

    <div class="d-flex flex-row-reverse">
        <a routerLink="/nuevaSolicitud"><button type="button" class="btn btn-primary btn-sml px-5 ">Nueva</button></a>
    </div>

</div>



   
       
    




   

   

