

.fa-o:before {
    margin: 21px;}

.circle-estado{
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 20px;
    margin: auto;
    border: 1px solid #c7c7c7;
}

.table{
    font-size: 12px;
}

.table p{
    margin:0px;
}

.estado{
    background-color: rgb(47, 125, 148);
    padding: 7px;
    color: black;
    text-decoration: none;
    display: block;
    text-align: center;
}

.link-reporte{
    font-size: 14px;
    color: #077036;
    font-weight: 300;
    cursor: pointer;
}

.link-reporte img{
    width: 28px;
    margin-left: 6px;
}

.text-center{
    display: flex;
    text-align: center;
    cursor: pointer;
    text-decoration: underline;
}

.modalApp{
    background: #0000008a;
    z-index: 99999;
    display: block;
}

.alert-autorizacion{
    text-align: center;
    padding: 5px 20px;
    margin: 0;
    position: relative;
}

.alert-success{
    cursor: pointer;
}

#print-section-autorizacion{
    display: none;
}

.table td{
    min-height: 72px;
}