
<div class="container">
    <div class="row my-5 justify-content-md-end">
        <div class="col-10">
            <h2>MIS SOLICITUDES</h2>
        </div>

        <div class="col-2">
           <!-- <button type="button" class="btn btn-sml  btn-primary px-5" disabled>Buscar</button>-->
        </div>
        <form id="filterSearchSolicitudes" action="">


            <div class="row">
    
                <div class="col-3">
                    <select id="gerencia" class="form-select" aria-label="Default select example">
                        <option value="">..Seleccionar Gerencia</option>
                        <option value="{{item._id}}" *ngFor="let item of listaGerencias">{{item.nombre_gerencia}}</option>
                    </select>
                </div>
                <div class="col-3">
                    <select id="tarea" class="form-select" aria-label="Default select example">
                        <option value="">..Seleccionar Tarea</option>
                        <option value="{{item._id}}" *ngFor="let item of listatareas">{{item.nombre_tarea}}</option>
                    </select>
                </div>
                <div class="col-3">
                    <select id="perfil" class="form-select" aria-label="Default select example">
                        <option value="">..Seleccionar Persona</option>
                        <option value="{{item._id}}" *ngFor="let item of listaUsuariosGST">{{item.nombre}}</option>
                    </select>
                </div>
                <div class="col-3">
                    <button type="button" class="btn btn-success px-5" (click)="filterList()">Filtrar</button>
                    
               </div>
               
                   
            </div>
    
    
    
            <div class="row my-3">
    
                <div class="col-3">
                    <select id="estado_solicitud" class="form-select" aria-label="Default select example">
                        <option value="">..Seleccionar Estado Solicitud</option>
                        <option value="{{item._id}}" *ngFor="let item of listaEstadoSolicitud">{{item.nombre_estado}}</option>
                    </select>
                </div>
                <div class="col-3">
                    <select id="estado_resultado" class="form-select" aria-label="Default select example">
                        <option value="">..Seleccionar Estado Resultado</option>
                        <option value="{{item._id}}" *ngFor="let item of listaEstadoResultado">{{item.nombre_resultado}}</option>
                    </select>
                </div>
                <div class="col-6">

                </div>
    
                <div class="col-3 mt-3">
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Fecha Solicitud</label>
                    <input type="date" class="form-select" id="fecha_solicitud" />
                </div>
                <div class="col-3 mt-3">
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Fecha Inicio</label>
                    <input type="date" class="form-select" id="fecha_inicio" />
                </div>
                <div class="col-3 mt-3">
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Fecha Entrega</label>
                    <input type="date" class="form-select" id="fecha_entrega" />
                </div>
                <div class="col-3 mt-3">
                    
                    <button style="margin-top: 40px;" type="button" class="btn btn-success px-5" (click)="filterListReset()">Limpiar</button>
                </div>
                
            </div>
                   
    
    
    
            
            
    
    
    
        </form>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="asignadas-tab" data-bs-toggle="tab" data-bs-target="#asignadas" type="button" role="tab" aria-controls="asignadas" aria-selected="true">Asignadas</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Ingresadas</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Guardadas</button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="asignadas" role="tabpanel" aria-labelledby="asignadas-tab">
            <table class="table table-light table-striped border border-1">


                <thead class="bg-#F53621">
                    <tr>
                        <th scope="col">Sol.N°</th>
                        <th scope="col">Solicitante</th>
                        <th scope="col">Situacion</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tarea</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        
                        <th scope="col">Asignada</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Resultado</th>
                        <th scope="col-3"></th>
                    </tr>
        
                </thead>
                <tbody>
                    <tr *ngFor="let solicitud of listaSolicitudesAsignadas">
                        <td>#{{solicitud.idsecuencia}}</td>
                        <td>
                            <p>{{solicitud.solicitante.nombre}}</p>
                        </td>
                        <td>Enviada</td>
                        
                        <td>
                            <p>{{solicitud.contrato.contradoid}} {{solicitud.contrato.contrato}}</p>
                        </td>
                        <td>
                            <p>{{solicitud.tarea.nombre_tarea}}</p>
                        </td>
                        <td>
                            <p>{{solicitud.fecha_solicitud}}</p>
                            <p>Solicitado</p>
                        </td>
                        <td>
                            <a class="estado" [ngStyle]="{
                                'background-color':solicitud.estado_solicitud.nombre_estado === 'Por Hacer' ? 
                                '#bad2d9' : solicitud.estado_solicitud.nombre_estado === 'En Proceso'? 
                                '#2f7d94': solicitud.estado_solicitud.nombre_estado === 'Terminada'?'#d69524':'#b92d29'}" href="#">
                                <!--<i class="fa-solid fa-o"></i>-->
                                {{solicitud.estado_solicitud.nombre_estado}}
                            </a>

        
                        </td>
                        <td>
                            <p>{{solicitud.gst.nombre}}</p>
                        </td>
                        <td>
                            <p>{{solicitud.fecha_inicio}}</p>
                            <p>Iniciado</p>
                        </td>
                        <td>
                            <a class="estado" [ngStyle]="{'backgorund-color':'#fff','border':'none','font-weight':'300','background-color':solicitud.estado_resultado.nombre_resultado === 'En Espera' ? '#bad2d9' : solicitud.estado_resultado.nombre_resultado === 'Pendiente'? '#e06666ff': '#ffd966ff'}" href="#">
                                {{solicitud.estado_resultado.nombre_resultado}}
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['/solicitudB/',solicitud._id]"><button type="submit" class="btn btn-primary btn-sm px-5" >Ver</button></a>
                        </td>
        
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-light table-striped border border-1">


                <thead class="bg-#F53621">
                    <tr>
                        <th scope="col">Sol.N°</th>
                        <th scope="col">Solicitante</th>
                        <th scope="col">Situacion</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tarea</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Asignada</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Resultado</th>
                        <th scope="col-3"></th>
                    </tr>
        
                </thead>
                <tbody>
                    <tr *ngFor="let solicitud of listaSolicitudes">
                        <td>#{{solicitud.idsecuencia}}</td>
                        <td>
                            <p>{{solicitud.solicitante.nombre}}</p>
                        </td>
                        <td>Enviada</td>
                        <td>
                            <p>{{solicitud.contrato.contradoid}} {{solicitud.contrato.contrato}}</p>
                        </td>
                        <td>
                            <p>{{solicitud.tarea.nombre_tarea}}</p>
                        </td>
                        <td>
                            <p>{{solicitud.fecha_solicitud}}</p>
                            <p>Solicitado</p>
                        </td>
                        <td>
                            <a class="estado" [ngStyle]="{
                                'background-color':solicitud.estado_solicitud.nombre_estado === 'Por Hacer' ? 
                                '#bad2d9' : solicitud.estado_solicitud.nombre_estado === 'En Proceso'? 
                                '#2f7d94': solicitud.estado_solicitud.nombre_estado === 'Terminada'?'#d69524':'#b92d29'}" href="#">
                                <!--<i class="fa-solid fa-o"></i>-->
                                {{solicitud.estado_solicitud.nombre_estado}}
                            </a>
                        </td>
                        <td>
                            <p>{{solicitud.gst.nombre}}</p>
                        </td>
                        <td>
                            <p>{{solicitud.fecha_inicio}}</p>
                            <p>Iniciado</p>
                        </td>
                        <td>
                            <a class="estado" [ngStyle]="{'backgorund-color':'#fff','border':'none','font-weight':'300','background-color':solicitud.estado_resultado.nombre_resultado === 'En Espera' ? '#bad2d9' : solicitud.estado_resultado.nombre_resultado === 'Pendiente'? '#e06666ff': '#ffd966ff'}" href="#">
                                {{solicitud.estado_resultado.nombre_resultado}}
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['/solicitud/',solicitud._id]"><button type="submit" class="btn btn-primary btn-sm px-5" >Ver</button></a>
                        </td>
        
                    </tr>
                </tbody>
            </table>
            <div class="d-flex flex-row-reverse">
                <a routerLink="/nuevaSolicitud"><button type="button" class="btn btn-primary btn-sml px-5 ">Nueva</button></a>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table table-light table-striped border border-1">


                <thead class="bg-#F53621">
                    <tr>
                        <th scope="col">Sol.N°</th>
                        <th scope="col">Solicitante</th>
                        <th scope="col">Situacion</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Tarea</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Frecuencia</th>
                        <th scope="col">Asignada</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Resultado</th>
                        <th scope="col-3"></th>
                    </tr>
        
                </thead>
                <tbody>
                    <tr *ngFor="let solicitud of listaSolicitudesPendiente">
                        <td>#{{solicitud.idsecuencia}}</td>
                        <td>
                            <p>{{solicitud.solicitante.nombre}}</p>
                        </td>
                        <td>Enviada</td>
                        <td>
                            <p>{{solicitud.contrato.contradoid}} {{solicitud.contrato.contrato}}</p>
                        </td>
                        <td>
                            <p>{{solicitud.tarea.nombre_tarea}}</p>
                        </td>
                        <td>
                            <p>{{solicitud.fecha_solicitud}}</p>
                            <p>Solicitado</p>
                        </td>
                        <td>
                            <a class="estado" [ngStyle]="{
                                'background-color':solicitud.estado_solicitud.nombre_estado === 'Por Hacer' ? 
                                '#bad2d9' : solicitud.estado_solicitud.nombre_estado === 'En Proceso'? 
                                '#2f7d94': solicitud.estado_solicitud.nombre_estado === 'Terminada'?'#d69524':'#b92d29'}" href="#">
                                <!--<i class="fa-solid fa-o"></i>-->
                                {{solicitud.estado_solicitud.nombre_estado}}
                            </a>
        
                        </td>
                        <td>
                            <p>{{solicitud.tarea.frecuencia}}</p>
                            <p>1 vez</p>
                        </td>
                        <td>
                            <p>{{solicitud.gst.nombre}}</p>
                        </td>
                        <td>
                            <p>{{solicitud.fecha_inicio}}</p>
                            <p>Iniciado</p>
                        </td>
                        <td>
                            <a class="estado" [ngStyle]="{'backgorund-color':'#fff','border':'none','font-weight':'300','background-color':solicitud.estado_resultado.nombre_resultado === 'En Espera' ? '#bad2d9' : solicitud.estado_resultado.nombre_resultado === 'Pendiente'? '#e06666ff': '#ffd966ff'}" href="#">
                                {{solicitud.estado_resultado.nombre_resultado}}
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['/solicitudPendiente/',solicitud._id]"><button type="submit" class="btn btn-primary btn-sm px-5" >Finalizar Solicitud</button></a>
                        </td>
        
                    </tr>
                </tbody>
            </table>
        </div>
      </div>
    

    

</div>



   
       
    




   

   

