.box-check{
    display: flex;
    align-items: self-end;
}

.box-check input{
    margin-right: 8px;
    bottom: 4px;
    position: relative;
}

.input-group label{
    width: 128px;
}

.icon-upload{
    width: 28px;
    height: 28px;
    position: absolute;
    right: -40px;
    top: 4px;
    cursor: pointer;
}