<div class="container">

    <div>
        <h2>NUEVA SOLICITUD DE REQUERIMIENTO</h2>
    </div>
    
    <div class="row">

        <div class="col-3 d-flex flex-row mr-3">
            <label for="">Gerencia</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Mantenimiento</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
        
    </div>
     
    <div class="row">

        <div class="col-3 d-flex flex-row mr-3">
            <label for="">Gerencia</label>
            <select class="form-select" aria-label="Default select example">
                <option selected>Mantenimiento</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
            
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
        
    </div>
           





    <div class="nueva-solicitud">

        <form action="" method="get">

            <div class="gerencia-">
                <input type="texto" class="" placeholder="Mantenimiento">
            </div>

            <div class="gerencia-2">
                <div>
                    <label for="">Contrato</label>
                    <input type="texto" class="" placeholder="454000807- KOMATSU">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input"id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Contrato nuevo</label>
                </div>


            </div>
        </form>
    </div>
    <hr>

    <div class="tarea-solicitada">
        <h2>TAREA SOLICITADA</h2>

        <form action="" method="get">
            <div class="tarea-campus">
                <div>
                    <label for="">Contrato</label>
                    <input type="texto" class="" placeholder="454000807- KOMATSU">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input"id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Tarea no definida</label>
                </div>
                <div>
                    <label for="">Solicitud</label>
                    <input type="texto" class="" placeholder="MMR-001">
                </div>
            </div>

            <div class="tarea-campus2">

                <div>
                    <label for="">GST</label>
                    <input type="texto" class="" placeholder="Alessandro Cosio">
                </div>

                <div>
                    <label for="">Backoffice</label>
                    <input type="texto" class="" placeholder="Francisco Gutierrez">
                </div>



            </div>

            <div class="tarea-campus3">

                <div>
                    <label for="">Mensaje / Obs</label>
                   <textarea name="" id="" cols="100" rows="3" >
                    Agradecemos tu ayuda para la revisión y validación de montos
                   </textarea>
                </div>

            </div>
        </form>
    </div>
    <hr>

    <div class="informacion-requerida">
        <h2>INFORMACION REQUERIDA</h2>

        <form class="form" action="" method="get">
            <div >
                <div>
                    <label for="">Ruta</label>
                    <input type="texto" class="" placeholder="Examinar...">
                </div>
                <div>
                   <label for="">Obs</label>
                   <textarea name="" id="" cols="5" rows="2" >
                    Observaciones
                   </textarea>
                   <button type="button" class="btn btn-secondary" disabled>Subir</button>
                </div>
            </div>
                   
               

            <div class="lista">
                <h5>Lista Documentos Requeridos</h5>
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Dcto para la Tarea Uno / Word/ Observacion
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Dcto para la Tarea Uno / Excel/ Observacion
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Dcto para la Tarea Uno / Pdf/ Observacion
                    </label>
                  </div>
                </div>
         </form>
    </div>
    <hr>

    


    <div class="estado-solicitud">
        <h2>ESTADO SOLICITUD   <small>(Uso interno)</small></h2>
       

       <div class="solicitud-1">

        <div >
            <div >
                <label for="">Fecha Solicitud</label>
                <input type="date" class="" >
            </div>

            <div >
                <label for="">Fecha Inicio</label>
                <input type="date" class="" >
            </div>

        </div>

        <div >
            <div >
                <label for="">Estado Solicitud</label>
                <input type="text" class="" placeholder="POR HACER" >
            </div>

            <div class="tiempo-estimado" >
                <label for="">Tiempo Estimado:</label>
                <p> 7 Días</p>
            </div>

        </div>

       </div>

       
        

      
       
       
     </div>
     <hr>

     <div class="btn-solicitud">
         <button type="button" class="btn btn-primary btn-lg " disabled>Guardar Solicitud</button>
         <button type="button" class="btn btn-primary btn-lg">Enviar Solicitud</button>

    </div>
</div>
        







               




          

               

           



               





               


            
            














