<!-- LOGIN -->
<div class="box-login">
    <form class="col-4 m-auto" method="POST" [formGroup]="loginForm" (submit)="validatelogin()">
        <img class="logo" src="assets/img/logo-pelambres.png" />
        <H3 class="text-center p-3 text-secondary">INICIAR SESIÓN</H3>
        <div class="mb-3">
            <input type="texto" class="form-control" name="login" id="login" formControlName="login" placeholder="Usuario" required>
        </div>
        <div class="mb-3">
            <input type="password" class="form-control" name="password" id="password" formControlName="password" placeholder="Contraseña" required>
        </div>
        <button type="submit" class="btn btn-primary form-control" value="ok" name="btnRegistrar">INICIAR </button>
        <div class="text-center mb-3">
            Olvido su contraseña?
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="errorLogin">
            Usuario o contraseña incorrecto
        </div>
    </form>
</div>













