<!-- LOGIN -->

<form class="col-3 m-auto" method="POST">
    <H3 class=" text-letf p-3 text-secondary">INICIAR SESIÓN</H3>
    <div class="mb-3">
        <input type="texto" class="form-control" name="email" placeholder="Email">
    </div>

    <div class="mb-3">
        <input type="password" class="form-control" name="contraseña" placeholder="Contraseña">
    </div>


    <button type="submit" class="btn btn-primary form-control" value="ok" name="btnRegistrar">INICIAR </button>

    <div class="recordar-contraseña mb-3">
        <p>Olvido su contraseña?</p>
        <ul>
            <li><a href="#">Recordar</a></li>
        </ul>

    </div>



</form>













