<!-- LOGIN -->

<form class="col-3 m-auto" method="POST">
    <H3 class=" text-letf p-3 text-secondary">INICIAR SESIÓN</H3>
    <div class="mb-3">
        <input type="texto" class="form-control" name="email" placeholder="Email">
    </div>

    <div class="mb-3">
        <input type="password" class="form-control" name="contraseña" placeholder="Contraseña">
    </div>


    <button type="submit" class="btn btn-primary form-control" value="ok" name="btnRegistrar">INICIAR </button>

    <div class="recordar-contraseña mb-3">
        <p>Olvido su contraseña?</p>
        <ul>
            <li><a href="#">Recordar</a></li>
        </ul>

    </div>



</form>
<br>
<br>



<!-- MIS SOLICITUDES -->


<div class="container">

    <div class="solicitudes p-3">
        <h2>MIS SOLICITUDES</h2>
        <button type="button" class="btn btn-lg btn-primary " disabled>Buscar</button>
    </div>



    <table class="table">


        <thead class="bg-#F53621">
            <tr>
                <th scope="col">Sol.N° <i class="fa-thin fa-angle-down"></i></th>
                <th scope="col">Situacion <i class="fa-thin fa-angle-down"></i></th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha</th>
                <th scope="col">Estado</th>
                <th scope="col">Frecuencia</th>
                <th scope="col">Asignada</th>
                <th scope="col">Fecha</th>
                <th scope="col">Resultado</th>
                <th scope="col">...</th>
            </tr>

        </thead>






        <tbody>

            <tr>
                <td>#MM-001</td>
                <td>Enviada</td>
                <td>
                    <p>455222112 Explor-K</p>
                    <p>Apertura Libro</p>
                </td>
                <td>
                    <p>02 Ago 2022</p>
                    <p>Solicitado</p>
                </td>
                <td>
                    <a href=""><i>o</i></a>
                    <p>En Proceso</p>

                </td>
                <td>
                    <p>MES</p>
                    <p>1 vez</p>
                </td>
                <td>
                    <p>Acosio FGutierrez</p>
                </td>
                <td>
                    <p>03 Ago 2022</p>
                    <p>Iniciado</p>
                </td>
                <td>
                    <a href=""><i>o</i></a>
                    <p>En Espera</p>
                </td>
                <td>
                    <a href="#" class="btn btn-primary btn-lg active"
                        role="button" aria-pressed="true">Ver</a>
                </td>

            </tr>

            <tr>
                <td>#MM-001</td>
                <td>Enviada</td>
                <td>
                    <p>455222112 Explor-K</p>
                    <p>Apertura Libro</p>
                </td>
                <td>
                    <p>02 Ago 2022</p>
                    <p>Solicitado</p>
                </td>
                <td>
                    <a href=""><i>o</i></a>
                    <p>En Proceso</p>

                </td>
                <td>
                    <p>MES</p>
                    <p>1 vez</p>
                </td>
                <td>
                    <p>Acosio FGutierrez</p>
                </td>
                <td>
                    <p>03 Ago 2022</p>
                    <p>Iniciado</p>
                </td>
                <td>
                    <a href=""><i>o</i></a>
                    <p>En Espera</p>
                </td>
                <td>
                    <a href="#" class="btn btn-primary btn-lg active"
                        role="button" aria-pressed="true">Ver</a>
                </td>

            </tr>

            <tr>
                <td>#MM-001</td>
                <td>Enviada</td>
                <td>
                    <p>455222112 Explor-K</p>
                    <p>Apertura Libro</p>
                </td>
                <td>
                    <p>02 Ago 2022</p>
                    <p>Solicitado</p>
                </td>
                <td>
                    <a href=""><i>o</i></a>
                    <p>En Proceso</p>

                </td>
                <td>
                    <p>MES</p>
                    <p>1 vez</p>
                </td>
                <td>
                    <p>Acosio FGutierrez</p>
                </td>
                <td>
                    <p>03 Ago 2022</p>
                    <p>Iniciado</p>
                </td>
                <td>
                    <a href=""><i>o</i></a>
                    <p>En Espera</p>
                </td>
                <td>
                    <a href="#" class="btn btn-primary btn-lg active"
                        role="button" aria-pressed="true">Ver</a>
                </td>

            </tr>

        </tbody>

    </table>

    <button type="button" class="btn btn-primary btn-lg btn-nuevo">Nueva</button>
</div>


<!-- NUEVA SOLICITUD -->
<br>
<br>

<div class="container">

    <div class="nueva-solicitud">
        <h2>NUEVA SOLICITUD DE REQUERIMIENTO</h2>

        <form action="" method="get">

            <div class="gerencia-">
                <label for="">Gerencia</label>
                <input type="texto" class="" placeholder="Mantenimiento">
            </div>

            <div class="gerencia-2">
                <div>
                    <label for="">Contrato</label>
                    <input type="texto" class="" placeholder="454000807- KOMATSU">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input"id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Contrato nuevo</label>
                </div>

                <button type="submit" class="btn btn-primary">Buscar</button>

            </div>
        </form>
    </div>
    <hr>

    <div class="tarea-solicitada">
        <h2>TAREA SOLICITADA</h2>

        <form action="" method="get">
            <div class="tarea-campus">
                <div>
                    <label for="">Contrato</label>
                    <input type="texto" class="" placeholder="454000807- KOMATSU">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input"id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Tarea no definida</label>
                </div>
                <div>
                    <label for="">Solicitud</label>
                    <input type="texto" class="" placeholder="MMR-001">
                </div>
            </div>

            <div class="tarea-campus2">

                <div>
                    <label for="">GST</label>
                    <input type="texto" class="" placeholder="Alessandro Cosio">
                </div>

                <div>
                    <label for="">Backoffice</label>
                    <input type="texto" class="" placeholder="Francisco Gutierrez">
                </div>



            </div>

            <div class="tarea-campus3">

                <div>
                    <label for="">Mensaje / Obs</label>
                   <textarea name="" id="" cols="100" rows="3" >
                    Agradecemos tu ayuda para la revisión y validación de montos
                   </textarea>
                </div>

            </div>
        </form>
    </div>
    <hr>

    <div class="informacion-requerida">
        <h2>INFORMACION REQUERIDA</h2>

        <form class="form" action="" method="get">
            <div >
                <div>
                    <label for="">Ruta</label>
                    <input type="texto" class="" placeholder="Examinar...">
                </div>
                <div>
                   <label for="">Obs</label>
                   <textarea name="" id="" cols="5" rows="2" >
                    Observaciones
                   </textarea>
                   <button type="button" class="btn btn-secondary" disabled>Subir</button>
                </div>
            </div>
                   
               

            <div class="lista">
                <h5>Lista Documentos Requeridos</h5>
                <hr>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                      Dcto para la Tarea Uno / Word/ Observacion
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Dcto para la Tarea Uno / Excel/ Observacion
                    </label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        Dcto para la Tarea Uno / Pdf/ Observacion
                    </label>
                  </div>
                </div>
         </form>
    </div>
    <hr>

    


    <div class="estado-solicitud">
        <h2>ESTADO SOLICITUD   <small>(Uso interno)</small></h2>
       

       <div class="solicitud-1">

        <div >
            <div >
                <label for="">Fecha Solicitud</label>
                <input type="date" class="" >
            </div>

            <div >
                <label for="">Fecha Inicio</label>
                <input type="date" class="" >
            </div>

        </div>

        <div >
            <div >
                <label for="">Estado Solicitud</label>
                <input type="text" class="" placeholder="POR HACER" >
            </div>

            <div class="tiempo-estimado" >
                <label for="">Tiempo Estimado:</label>
                <p> 7 Días</p>
            </div>

        </div>

       </div>

       
        

      
       
       
     </div>
     <hr>

     <div class="btn-solicitud">
         <button type="button" class="btn btn-primary btn-lg " disabled>Guardar Solicitud</button>
         <button type="button" class="btn btn-primary btn-lg">Enviar Solicitud</button>

    </div>
        







               




          

               

           



               





               


            
            













</div>



<!-- LISTA -->

<div class="container">

    
    <h2>TABLERO</h2>
    <form action="">


        <div class="row">

            <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Gerencia</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Tarea Asignada</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Rol/Persona</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-success px-5" disabled>Filtrar</button>
           </div>
               
        </div>



        <div class="row my-3">

            <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Estado</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Resultado</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            
        </div>
               



        
        



    </form>
    <hr>

    <div>
        <div class="row d-flex justify-content-between">
            <div class="col-1">
                <p>Por Hacer</p>
            </div>
            <div class="col-1">
                <a href="">Ver más</a>
            </div>
        </div>
    </div>

    <div class="row">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">Tarea N°</th>
                <th scope="col">Nombre</th>
                <th scope="col">Inicio</th>
                <th scope="col">Fin</th>
                <th scope="col">Prioridad</th>
                <th scope="col">Estado</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          #232
                        </label>
                    </div>
                </th>
                <td>
                    <div>
                        <p></p>
                        <p></p>
                    </div>
                </td>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
              </tr>
            </tbody>
          </table>
    </div>

    



    


    



</div>


