
<!-- TABLERO -->

<div class="container">

    
    <h2>TABLERO</h2>
    <form action="">


        <div class="row">

            <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Gerencia</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Tarea Asignada</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Rol/Persona</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-success px-5" disabled>Filtrar</button>
           </div>
               
        </div>



        <div class="row my-3">

            <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Estado</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-3">
                <select class="form-select" aria-label="Default select example">
                    <option selected>Resultado</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            
        </div>
               



        
        



    </form>
    <hr>

    <div class="row">
        <div class="col-3 py-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-bg-light">
                  <h4 class="card-title">POR HACER</h4>
                  <h5 class="card-subtitle mb-2 text-muted">Tareas/Actividades Nuevas</h5>
                </div>
                <div  class="card-body">
                    <h5 class="card-subtitle mb-2 text-muted">CTO NVAS VIAS</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Contrato Mina</h6>
                </div>
                <div class="card-body" >
                    <p class="card-text text-muted ">31-12-2021 @ 03-01-2022</p>
                    <p class="card-text text-muted">Sin Observaciones</p>
                    <p class="card-text text-muted">Sin Asignar</p>
                </div>
                <div class="card-tablero card-body">
                    <p>RESULTADO</p>
                    <button type="button" class="btn btn-warning mx-auto">EN PROCESO</button>
                </div>
            </div>
        </div>
        

        <div class="col-3 py-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-bg-primary">
                  <h4 class="card-title">POR HACER</h4>
                  <h5 class="card-subtitle mb-2 text-muted">Tareas/Actividades Nuevas</h5>
                </div>
                <div  class="card-body">
                    <h5 class="card-subtitle mb-2 text-muted">CTO NVAS VIAS</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Contrato Mina</h6>
                </div>
                <div class="card-body" >
                    <p class="card-text text-muted ">31-12-2021 @ 03-01-2022</p>
                    <p class="card-text text-muted">Sin Observaciones</p>
                    <p class="card-text text-muted">Sin Asignar</p>
                </div>
                <div class="card-tablero card-body">
                    <p>RESULTADO</p>
                    <button type="button" class="btn btn-warning mx-auto">EN PROCESO</button>
                </div>
            </div>
        </div>

        <div class="col-3 py-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-bg-success">
                  <h4 class="card-title">POR HACER</h4>
                  <h5 class="card-subtitle mb-2 text-muted">Tareas/Actividades Nuevas</h5>
                </div>
                <div  class="card-body">
                    <h5 class="card-subtitle mb-2 text-muted">CTO NVAS VIAS</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Contrato Mina</h6>
                </div>
                <div class="card-body" >
                    <p class="card-text text-muted ">31-12-2021 @ 03-01-2022</p>
                    <p class="card-text text-muted">Sin Observaciones</p>
                    <p class="card-text text-muted">Sin Asignar</p>
                </div>
                <div class="card-tablero card-body">
                    <p>RESULTADO</p>
                    <button type="button" class="btn btn-warning mx-auto">EN PROCESO</button>
                </div>
            </div>
        </div>

        <div class="col-3 py-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-bg-danger">
                  <h4 class="card-title">POR HACER</h4>
                  <h5 class="card-subtitle mb-2 text-muted">Tareas/Actividades Nuevas</h5>
                </div>
                <div  class="card-body">
                    <h5 class="card-subtitle mb-2 text-muted">CTO NVAS VIAS</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Contrato Mina</h6>
                </div>
                <div class="card-body" >
                    <p class="card-text text-muted ">31-12-2021 @ 03-01-2022</p>
                    <p class="card-text text-muted">Sin Observaciones</p>
                    <p class="card-text text-muted">Sin Asignar</p>
                </div>
                <div class="card-tablero card-body">
                    <p>RESULTADO</p>
                    <button type="button" class="btn btn-warning mx-auto">EN PROCESO</button>
                </div>
            </div>
        </div>

        <div class="col-3 py-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-bg-light">
                  <h4 class="card-title">POR HACER</h4>
                  <h5 class="card-subtitle mb-2 text-muted">Tareas/Actividades Nuevas</h5>
                </div>
                <div  class="card-body">
                    <h5 class="card-subtitle mb-2 text-muted">CTO NVAS VIAS</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Contrato Mina</h6>
                </div>
                <div class="card-body" >
                    <p class="card-text text-muted ">31-12-2021 @ 03-01-2022</p>
                    <p class="card-text text-muted">Sin Observaciones</p>
                    <p class="card-text text-muted">Sin Asignar</p>
                </div>
                <div class="card-tablero card-body">
                    <p>RESULTADO</p>
                    <button type="button" class="btn btn-warning mx-auto">EN PROCESO</button>
                </div>
            </div>
        </div>

        <div class="col-3 py-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-bg-light">
                  <h4 class="card-title">POR HACER</h4>
                  <h5 class="card-subtitle mb-2 text-muted">Tareas/Actividades Nuevas</h5>
                </div>
                <div  class="card-body">
                    <h5 class="card-subtitle mb-2 text-muted">CTO NVAS VIAS</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Contrato Mina</h6>
                </div>
                <div class="card-body" >
                    <p class="card-text text-muted ">31-12-2021 @ 03-01-2022</p>
                    <p class="card-text text-muted">Sin Observaciones</p>
                    <p class="card-text text-muted">Sin Asignar</p>
                </div>
                <div class="card-tablero card-body">
                    <p>RESULTADO</p>
                    <button type="button" class="btn btn-warning mx-auto">EN PROCESO</button>
                </div>
            </div>
        </div>

        <div class="col-3 py-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body text-bg-light">
                  <h4 class="card-title">POR HACER</h4>
                  <h5 class="card-subtitle mb-2 text-muted">Tareas/Actividades Nuevas</h5>
                </div>
                <div  class="card-body">
                    <h5 class="card-subtitle mb-2 text-muted">CTO NVAS VIAS</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Contrato Mina</h6>
                </div>
                <div class="card-body" >
                    <p class="card-text text-muted ">31-12-2021 @ 03-01-2022</p>
                    <p class="card-text text-muted">Sin Observaciones</p>
                    <p class="card-text text-muted">Sin Asignar</p>
                </div>
                <div class="card-tablero card-body">
                    <p>RESULTADO</p>
                    <button type="button" class="btn btn-warning mx-auto">EN PROCESO</button>
                </div>
            </div>
        </div>

               
                   
                    
                
               


                   

    </div>



    



</div>