
<div class="container">
    <div class="row my-5 justify-content-md-end">
        <div class="col-10">
            <h2>USUARIOS</h2>
        </div>

        <div class="col-2">
           <!-- <button type="button" class="btn btn-sml  btn-primary px-5" disabled>Buscar</button>-->
        </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="asignadas-tab" data-bs-toggle="tab" data-bs-target="#asignadas" type="button" role="tab" aria-controls="asignadas" aria-selected="true">
                Lista
            </button>
        </li>

      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="asignadas" role="tabpanel" aria-labelledby="asignadas-tab">
            <table class="table table-light table-striped border border-1">


                <thead class="bg-#F53621">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">
                            <input type="text" class="form-input" id="searchUsuario" (keyup)="filterUsuario()" />
                        </th>
                        <th scope="col"></th>
                        <th scope="col">
                            <select class="form-select" id="searchPerfil" (change)="filterUsuario()" >
                                <option value="">...</option>
                                <option value="{{perfil._id}}" *ngFor="let perfil of listaPerfiles">
                                    {{perfil.sigla}}
                                </option>
                            </select>
                        </th>
                        <th scope="col"></th>
                        <th scope="col">
                            <select class="form-select" id="searchEstado" (change)="filterUsuario()">
                                <option value="">...</option>
                                <option value="1">Activo</option>
                                <option value="0">Inactivo</option>
                            </select>
                        </th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Perfil</th>
                        <th scope="col">Usuario</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Puede Autorizar?</th>
                        <th scope="col-3"></th>
                    </tr>
        
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of listaUsuarios">
                        <td>#</td>
                        <td>{{usuario.nombre}}</td>
                        <td>{{usuario.correo}}</td>
                        <td>{{usuario.perfil.sigla}}</td>
                        <td>{{usuario.login}}</td>
                        <td>{{usuario.estado?'Activo':'Inactivo'}}</td>
                        <td>{{usuario.autorizar?'Si':'No'}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" attr.data='{{ usuario| json}}' (click)='editUsuario($event)'>Editar</button>
                        </td>
        
                    </tr>
                </tbody>
            </table>
            <app-paginador #pagUsuario (pagParams)="pagUsuario" (refreshLista)="refreshLista($event,'Usuario')"></app-paginador>
            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-primary btn-sml px-5 " (click)="openModalUsuario()">Nueva</button>
            </div>
        </div>
        
      </div>
</div>
<div [ngClass]="(showModalUsuario) ? 'modal modalApp': 'modal '" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="!showUpdateU" class="modal-title">Registro Usuario</h5>
          <h5 *ngIf="showUpdateU" class="modal-title">Actualizar Usuario</h5>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>-->
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Nombre</label>
                    <input class="form-control" id="nombre_usuario" placeholder="Escribir Nombres" />
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Correo</label>
                    <input type="email" class="form-control" id="correo_usuario" placeholder="Escribir Correo" />
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Perfil</label>
                    <select class="form-select" id="perfil_usuario" >
                        <option value="">..seleccionar perfil</option>
                        <option value="{{perfil._id}}" *ngFor="let perfil of listaPerfiles">
                            {{perfil.sigla}}
                        </option>
                    </select>
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Usuario</label>
                    <input type="text" class="form-control" id="login_usuario" placeholder="Escribir Usuario" />
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Contraseña</label>
                    <input type="password" class="form-control" id="clave_usuario" placeholder="Escribir Clave" />
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Puede Autorizar</label>
                    <select class="form-select" id="autorizar" >
                        <option value="">..seleccionar</option>
                        <option value="1">Si</option>
                        <option value="0">No</option>
                    </select>
                </div>
                <div [ngStyle]="{'display':showUpdateU ? 'flex' : 'none' }"  class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Estado</label>
                    <select class="form-select" id="estadoU" >
                        <option value="">..seleccionar estado</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
                <input type="hidden" class="form-control" id="id_usuario"  />
                
                
            </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="showUpdateU" type="button" class="btn btn-primary" (click)="updateUsuario()">Actualizar</button>
          <button *ngIf="!showUpdateU" type="button" class="btn btn-primary" (click)="addUsuario()">Registrar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalUsuario()">Cerrar</button>
        </div>
      </div>
    </div>
</div>
