
<div class="container">
    <div class="row my-5 justify-content-md-end">
        <div class="col-10">
            <h2>DOCUMENTOS ENTRADA - CONTRATO TAREA</h2>
        </div>

        <div class="col-2">
           <!-- <button type="button" class="btn btn-sml  btn-primary px-5" disabled>Buscar</button>-->
        </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="asignadas-tab" data-bs-toggle="tab" data-bs-target="#asignadas" type="button" role="tab" aria-controls="asignadas" aria-selected="true">
                Lista
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                Documentos Entrada
            </button>
        </li>

      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="asignadas" role="tabpanel" aria-labelledby="asignadas-tab">
            <table class="table table-light table-striped border border-1">


                <thead class="bg-#F53621">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">
                            <input type="text" class="form-input" id="searchContrato" (keyup)="filterDETareasContratos()" />
                        </th>
                        <th scope="col">
                            <input type="text" class="form-input" id="searchTarea"  (keyup)="filterDETareasContratos()"/>
                        </th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col-3"></th>
                    </tr>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Contrato</th>
                        <th scope="col">Tarea</th>
                        <th scope="col">Documento Entrada</th>
                        <th scope="col">Tipo Documento</th>
                        <th scope="col">Estado</th>
                        <th scope="col-3"></th>
                    </tr>
        
                </thead>
                <tbody>
                    <tr *ngFor="let tareaDE of listaTareaDocumentosEntrada">
                        <td>#</td>
                        <td>{{tareaDE.contrato.contrato}}-{{tareaDE.contrato.contradoid}}</td>
                        <td>{{tareaDE.tarea.nombre_tarea}}</td>
                        <td>{{tareaDE.documento_entrada.descripcion}}</td>
                        <td>{{tareaDE.documento_entrada.tipo_documento}}</td>
                        <td>{{tareaDE.estado?'Activo':'Inactivo'}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" attr.data='{{tareaDE| json}}' (click)='editDocumentoEntradaTC($event)'>Editar</button>
                        </td>
        
                    </tr>
                </tbody>
            </table>
            <app-paginador #pagTDE (pagParams)="pagTareDocumentosEntrada" (refreshLista)="refreshLista($event,'TareaDEntrada')"></app-paginador>

            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-primary btn-sml px-5 " (click)="openModalDocumentoEntradaCT()">Nueva</button>
            </div>
        </div>
        <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-light table-striped border border-1">


                <thead class="bg-#F53621">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">
                            <input type="text" class="form-input" id="searchDocumentoEntrada" (keyup)="filterDE()"  />
                        </th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Documento Entrada</th>
                        <th scope="col">Tipo Documento</th>
                        <th scope="col">Estado</th>
                        <th scope="col-3"></th>
                    </tr>
        
                </thead>
                <tbody>
                    <tr *ngFor="let documentoEntrada of listaDocumentosEntrada">
                        <td>#</td>
                        <td>{{documentoEntrada.descripcion}}</td>
                        <td>{{documentoEntrada.tipo_documento}}</td>
                        <td>{{documentoEntrada.estado?'Activo':'Inactivo'}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" attr.data='{{documentoEntrada| json}}' (click)='editDocumentoEntrada($event)'>Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <app-paginador #pagDE (pagParams)="pagDocumentosEntrada" (refreshLista)="refreshLista($event,'DEntrada')"></app-paginador>

            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-primary btn-sml px-5 " (click)="openModalDocumentoEntrada()">Nueva</button>
            </div>
        </div>
      </div>
</div>
<div [ngClass]="(showModalDocumentoEntradaTC) ? 'modal modalApp': 'modal '" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="!showUpdateDocumentoETC" class="modal-title">Registro Documento Entrada - Contrato Tarea</h5>
          <h5 *ngIf="showUpdateDocumentoETC" class="modal-title">Actualizar Documento Entrada - Contrato Tarea</h5>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>-->
        </div>
        <div class="modal-body">
            <div class="row">
                
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Contrato</label>
                    <select class="form-select" id="contratoC" >
                        <option value="">..seleccionar contrato</option>
                        <option value="{{contrato._id}}" *ngFor="let contrato of listaContrato">
                            {{contrato.contrato}}-{{contrato.contradoid}}
                        </option>
                    </select>
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Tarea</label>
                    <select class="form-select" id="tareaC" >
                        <option value="">..seleccionar tarea</option>
                        <option value="{{tarea._id}}" *ngFor="let tarea of listaTareas">
                            {{tarea.nombre_tarea}}
                        </option>
                    </select>
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Documento</label>
                    <select class="form-select" id="documentoEntradaC" >
                        <option value="">..seleccionar documento</option>
                        <option value="{{documentoEntrada._id}}" *ngFor="let documentoEntrada of listaDocumentosEntrada">
                            {{documentoEntrada.descripcion}}-{{documentoEntrada.tipo_documento}}
                        </option>
                    </select>
                </div>
                <div [ngStyle]="{'display':showUpdateDocumentoETC ? 'flex' : 'none' }"  class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Estado</label>
                    <select class="form-select" id="estadoDETC" >
                        <option value="">..seleccionar estado</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
                <input type="hidden" class="form-control" id="id_documento_e_tc"  />
                
            </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="showUpdateDocumentoETC" type="button" class="btn btn-primary" (click)="updateDocumentoEntradaTC()">Actualizar</button>
          <button *ngIf="!showUpdateDocumentoETC" type="button" class="btn btn-primary" (click)="addDocumentoEntradaTC()">Registrar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalDocumentoEntradaCT()">Cerrar</button>
        </div>
      </div>
    </div>
</div>

<div [ngClass]="(showModalDocumentoEntrada) ? 'modal modalApp': 'modal '" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="!showUpdateDocumentoE" class="modal-title">Registro Documento Entrada</h5>
          <h5 *ngIf="showUpdateDocumentoE" class="modal-title">Actualizar Documento Entrada </h5>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>-->
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;"> Documento</label>
                    <input class="form-control" id="nombre_documento" placeholder="Escribir Nombre Documento" />
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Tipo</label>
                    <select class="form-select" id="tipo_documento" >
                        <option value="">..seleccionar tipo</option>
                        <option value="word" >word</option>
                        <option value="excel" >excel</option>
                        <option value="pdf" >pdf</option>
                        <option value="pdf+doc" >pdf+doc</option>
                        <option value="zip" >zip</option>
                        <option value="url" >url</option>
                        <option value="txt" >txt</option>
                    </select>
                </div>
                <div class="col-12 input-group mb-3" style="display: none;">
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;"> URL</label>
                    <input class="form-control" id="url_documento" placeholder="Escribir Url" />
                </div>
                <div [ngStyle]="{'display':showUpdateDocumentoE ? 'flex' : 'none' }"  class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Estado</label>
                    <select class="form-select" id="estadoDE" >
                        <option value="">..seleccionar estado</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
                <input type="hidden" class="form-control" id="id_documento_e"  />
            </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="showUpdateDocumentoE" type="button" class="btn btn-primary" (click)="updateDocumentoEntrada()">Actualizar</button>
          <button *ngIf="!showUpdateDocumentoE" type="button" class="btn btn-primary" (click)="addDocumentoEntrada()">Registrar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalDocumentoEntrada()">Cerrar</button>
        </div>
      </div>
    </div>
</div>
