
<div class="container">
    <div class="row my-5 justify-content-md-end">
        <div class="col-10">
            <h2>TAREAS CONTRATO</h2>
        </div>

        <div class="col-2">
           <!-- <button type="button" class="btn btn-sml  btn-primary px-5" disabled>Buscar</button>-->
        </div>
    </div>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="asignadas-tab" data-bs-toggle="tab" data-bs-target="#asignadas" type="button" role="tab" aria-controls="asignadas" aria-selected="true">
                Lista
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                Tareas
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                Contratos
            </button>
        </li>
      </ul>
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="asignadas" role="tabpanel" aria-labelledby="asignadas-tab">
            <table class="table table-light table-striped border border-1">


                <thead class="bg-#F53621">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">
                            <input type="text" class="form-input" id="searchContrato" (keyup)="filterTareasContratos()" />
                        </th>
                        <th scope="col">
                            <input type="text" class="form-input" id="searchTarea" (keyup)="filterTareasContratos()"/>
                        </th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col-3"></th>
                    </tr>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Contrato</th>
                        <th scope="col">Tarea</th>
                        <th scope="col">GST</th>
                        <th scope="col">BKO</th>
                        <th scope="col">Estado</th>
                        <th scope="col-3"></th>
                    </tr>
        
                </thead>
                <tbody>
                    <tr *ngFor="let tareaContrato of listaTareasContrato">
                        <td>#</td>
                        <td>{{tareaContrato.contrato.contrato}}-{{tareaContrato.contrato.contradoid}}</td>
                        <td>{{tareaContrato.tarea.nombre_tarea}}</td>
                        <td>{{tareaContrato.gst.nombre}}</td>
                        <td>{{tareaContrato.bko.nombre}}</td>
                        <td>{{tareaContrato.estado?'Activo':'Inactivo'}}</td>
                        <td>
                            <button id="{{tareaContrato._id}}" type="button" class="btn btn-primary btn-sm" attr.data='{{tareaContrato| json}}' (click)='editTareaContrato($event)'>Editar</button>
                        </td>
        
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation nav-tarea-contrato" class="navigation">
                <ul class="pagination">
                  <li class="page-item" *ngIf="pagTareasContrato.hasPrevPage">
                    <span class="page-link" style="cursor: pointer;" (click)="refreshListaTareasContrato(pagTareasContrato.page-1)" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </span>
                  </li>
                  <li [ngClass]="((nro+1)==pagTareasContrato.page) ? 'page-item active': 'page-item '" (click)="refreshListaTareasContrato(nro+1)" *ngFor="let item of pagTareasContrato.totalPages;let nro = index"><span style="cursor: pointer;" class="page-link" >{{nro+1}}</span></li>
                  <li class="page-item" *ngIf="pagTareasContrato.hasNextPage">
                    <span class="page-link" style="cursor: pointer;" (click)="refreshListaTareasContrato(pagTareasContrato.page+1)" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </span>
                  </li>
                </ul>
            </nav>
            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-primary btn-sml px-5 " (click)="openModalTareaContrato()">Nueva</button>
            </div>
        </div>
        <div class="tab-pane fade " id="home" role="tabpanel" aria-labelledby="home-tab">
            <table class="table table-light table-striped border border-1">


                <thead class="bg-#F53621">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"><input type="text" class="form-input" id="searchTareaC" (keyup)="filterTareas()" /></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col-3"></th>
                    </tr>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Tarea</th>
                        <th scope="col">Frecuencia</th>
                        <th scope="col">SLA</th>
                        <th scope="col">Estado</th>
                        <th scope="col-3"></th>
                    </tr>
        
                </thead>
                <tbody>
                    <tr *ngFor="let tarea of listaTareas">
                        <td>#</td>
                        <td>{{tarea.nombre_tarea}}</td>
                        <td>{{tarea.frecuencia}}</td>
                        <td>{{tarea.SLA}}</td>
                        <td>{{tarea.estado?'Activo':'Inactivo'}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" attr.data='{{tarea| json}}' (click)='editTarea($event)'>Editar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation nav-tarea" class="navigation">
                <ul class="pagination">
                  <li class="page-item" *ngIf="pagTareas.hasPrevPage">
                    <span class="page-link" style="cursor: pointer;" (click)="refreshListaContratos(pagTareas.page-1)" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </span>
                  </li>
                  <li [ngClass]="((nro+1)==pagTareas.page) ? 'page-item active': 'page-item '" (click)="refreshListaContratos(nro+1)" *ngFor="let item of pagTareas.totalPages;let nro = index"><span style="cursor: pointer;" class="page-link" >{{nro+1}}</span></li>
                  <li class="page-item" *ngIf="pagTareas.hasNextPage">
                    <span class="page-link" style="cursor: pointer;" (click)="refreshListaContratos(pagTareas.page+1)" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </span>
                  </li>
                </ul>
            </nav>
            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-primary btn-sml px-5 " (click)="openModalTarea()">Nueva</button>
            </div>
        </div>
        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <table class="table table-light table-striped border border-1">


                <thead class="bg-#F53621">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"><input type="text" class="form-input" id="searchContratoC" (keyup)="filterContratos()" /></th>
                        <th scope="col"><input type="text" class="form-input" id="searchNroContratoC" (keyup)="filterContratos()" /></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col-3"></th>
                    </tr>
                    <tr>
                        <th scope="col">N°</th>
                        <th scope="col">Contrato</th>
                        <th scope="col">Nro Contrato</th>
                        <th scope="col">ADC</th>
                        <th scope="col">Estado</th>
                        <th scope="col-3"></th>
                    </tr>
        
                </thead>
                <tbody>
                    <tr *ngFor="let contrato of listaContrato">
                        <td>#</td>
                        <td>{{contrato.contrato}}</td>
                        <td>{{contrato.contradoid}}</td>
                        <td>{{contrato.adc.nombre}}</td>
                        <td>{{contrato.estado?'Activo':'Inactivo'}}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" attr.data='{{contrato| json}}' (click)='editContrato($event)'>Editar</button>
                        </td>
        
                    </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation nav-contrato" class="navigation">
                <ul class="pagination">
                  <li class="page-item" *ngIf="pagContratos.hasPrevPage">
                    <span class="page-link" style="cursor: pointer;" (click)="refreshListaContratos(pagContratos.page-1)" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </span>
                  </li>
                  <li [ngClass]="((nro+1)==pagContratos.page) ? 'page-item active': 'page-item '" (click)="refreshListaContratos(nro+1)" *ngFor="let item of pagContratos.totalPages;let nro = index"><span style="cursor: pointer;" class="page-link" >{{nro+1}}</span></li>
                  <li class="page-item" *ngIf="pagContratos.hasNextPage">
                    <span class="page-link" style="cursor: pointer;" (click)="refreshListaContratos(pagContratos.page+1)" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </span>
                  </li>
                </ul>
            </nav>
            <div class="d-flex flex-row-reverse">
                <button type="button" class="btn btn-primary btn-sml px-5 " (click)="openModalContrato()">Nueva</button>
            </div>
        </div>
      </div>
</div>
<div [ngClass]="(showModalTareaContrato) ? 'modal modalApp': 'modal '" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="!showUpdate" class="modal-title">Registro Tarea Contrato</h5>
          <h5 *ngIf="showUpdate" class="modal-title">Actualizar Tarea Contrato</h5>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>-->
        </div>
        <div class="modal-body">
            <div class="row">
                
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Contrato</label>
                    
                    <input autocomplete="off" (keyup)="filterContratosFromTC()" (change)="getTareasContrato($event)" class="form-select" id="NcontratoC" list="listaContrato">
                    <datalist id="listaContrato"  >
                        <option *ngFor="let contrato of listaContratoActivas" >{{contrato.contrato}}-{{contrato.contradoid}}</option>
                    </datalist>
                    <input type="hidden" class="form-select" id="contratoC" />
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Tarea</label>
                    <input autocomplete="off" (change)="getTarea($event)" class="form-select" id="NtareaC" list="listaTareas">
                    <datalist id="listaTareas"  >
                        <option *ngFor="let tarea of listaTareasActivas" >{{tarea.nombre_tarea}}</option>
                    </datalist>
                    <input type="hidden" class="form-select" id="tareaC" />
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">GST</label>
                    <select class="form-select" id="usuarioGST" >
                        <option value="">..seleccionar usuario</option>
                        <option value="{{usuario._id}}" *ngFor="let usuario of listaUsuariosGST">
                            {{usuario.nombre}}
                        </option>
                    </select>
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">BKO</label>
                    <select class="form-select" id="usuarioBKO" >
                        <option value="">..seleccionar usuario</option>
                        <option value="{{usuario._id}}" *ngFor="let usuario of listaUsuariosBKO">
                            {{usuario.nombre}}
                        </option>
                    </select>
                </div>
                <div [ngStyle]="{'display':showUpdate ? 'flex' : 'none' }" class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Estado</label>
                    <select class="form-select" id="estadoTC" >
                        <option value="">..seleccionar estado</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
                <input type="hidden" class="form-control" id="id_tarea_contrato"  />
            </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="showUpdate" type="button" class="btn btn-primary" (click)="updateTareaContrato()">Actualizar</button>
          <button *ngIf="!showUpdate" type="button" class="btn btn-primary" (click)="addTareaContrato()">Registrar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalTareaContrato()">Cerrar</button>
        </div>
      </div>
    </div>
</div>

<div [ngClass]="(showModalTarea) ? 'modal modalApp': 'modal '" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="!showUpdateTarea" class="modal-title">Registro Tarea</h5>
          <h5 *ngIf="showUpdateTarea" class="modal-title">Update Tarea</h5>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>-->
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Nombre Tarea</label>
                    <input class="form-control" id="nombre_tarea" placeholder="Escribir Nombre Tarea" />
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Frecuencia</label>
                    <select class="form-select" id="frecuencia_tarea" >
                        <option value="">..seleccionar frecuencia</option>
                        <option value="Mensual" >Mensual</option>
                        <option value="Anual" >Anual</option>
                    </select>
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">SLA</label>
                    <input  class="form-control" id="sla_tarea" type="number" placeholder="SLA" step="1"  pattern="[0-9]*"/>
                </div>
                <div [ngStyle]="{'display':showUpdateTarea ? 'flex' : 'none' }"  class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Estado</label>
                    <select class="form-select" id="estadoT" >
                        <option value="">..seleccionar estado</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>
                <input type="hidden" class="form-control" id="id_tarea"  />
            </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="showUpdateTarea" type="button" class="btn btn-primary" (click)="updateTarea()">Actualizar</button>
          <button *ngIf="!showUpdateTarea" ype="button" class="btn btn-primary" (click)="addTarea()">Registrar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalTarea()">Cerrar</button>
        </div>
      </div>
    </div>
</div>

<div [ngClass]="(showModalContrato) ? 'modal modalApp': 'modal '" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 *ngIf="!showUpdateContrato"class="modal-title">Registro Contrato</h5>
          <h5 *ngIf="showUpdateContrato" class="modal-title">Update Contrato</h5>
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>-->
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Nombre Contrato</label>
                    <input class="form-control" id="nombre_contrato" placeholder="Escribir Nombre Contrato" />
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Nro Contrato</label>
                    <input class="form-control" id="nro_contrato" placeholder="Escribir Nro Contrato" />
                </div>
                <div class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">ADC</label>
                    <select class="form-select" id="usuarioADC" >
                        <option value="">..seleccionar usuario</option>
                        <option value="{{usuario._id}}" *ngFor="let usuario of listaUsuariosADC">
                            {{usuario.nombre}}
                        </option>
                    </select>
                </div>
                <div [ngStyle]="{'display':showUpdateContrato ? 'flex' : 'none' }"  class="col-12 input-group mb-3" >
                    <label for="basic-url" class="form-label" style="margin-right: 10px;margin-top: 8px;">Estado</label>
                    <select class="form-select" id="estadoC" >
                        <option value="">..seleccionar estado</option>
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>
                    </select>
                </div>

                <input type="hidden" class="form-control" id="id_contrato"  />
            </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="showUpdateContrato" type="button" class="btn btn-primary" (click)="updateContrato()">Actualizar</button>
          <button *ngIf="!showUpdateContrato" type="button" class="btn btn-primary" (click)="addContrato()">Registrar</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModalContrato()">Cerrar</button>
        </div>
      </div>
    </div>
</div>