<div class="container">
    <div class="row my-5 justify-content-md-end">
        <div class="col-12">
            <h2>{{ 'title.dashboard.workload' | translate }}</h2>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-3">
            <input type="date" class="form-control" value="" id="fecIni" />
        </div>
        <div class="col-3">
            <input type="date" class="form-control" value="" id="fecFin" />
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-success px-5" (click)="filterDashboard()">{{'button.filter' | translate}}</button>
        </div>
    </div>
    <div class="row">
        <div class="col-2 lista-box" *ngFor="let lista of listaCargaDeTrabajo">
            <section>
                <div class="box" *ngFor="let item of lista.carga_de_trabajo" [ngStyle]="{
                    'background-color':item.estado_solicitud === 'Por Hacer' ? 
                    '#bad2d9' : item.estado_solicitud === 'En Proceso'? 
                    '#2f7d94': item.estado_solicitud === 'Terminada'?'#d69524':'#b92d29'}">
                        <span>+{{item.total}}</span>
                        <span>{{item.estado_solicitud}}</span>
                </div>
            </section>
            <h6>{{lista.nombre}}</h6>
            <span>+{{mostrarTotal(lista)}}</span>
            <hr>
            <div class="vencido">
                <span>Vcto</span>
                <span>{{lista.vencidos}}</span>
            </div>
        </div>
    
    </div>
</div>

